/* .example-spacer {
    flex: 1 1 auto;
  }
  a {
      text-decoration: none;
  }
  

  .mySidenav:hover {
      width: 10%;
     display: inline;
  } */
 
  .header-section1 {
    width: 100%;
    height: auto;
    /* float: left; */
    padding: 30px 0px 0px;
}

.btnClk {
    border: none;  
}
.matmenu_ul>li>a{
    font-size: 17px;
}


/*==================responsive=====================*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mainNav.navbar .navbar-toggler {
   
        background-color: #34807f;
        color: #fff;
        
    }
    
  
  }


  


  