<div class="banner-section">
  <div class="banner">
    <img src="./../../../assets/images/banner.png" />
    <div class="instantly" style="display: none;">
      <h2>Apply For loans instantly</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer
      </p>
      <a routerLink="/loan" *ngIf="this.authService.isLoggedIn()" class="button button-white">Resume Application </a>
      <a routerLink="/login" *ngIf="!this.authService.isLoggedIn()" class="button button-white">Resume Application </a>

      <a routerLink="/"  class="button button-white-outline"
        >Track my loan status</a
      >
    </div>
  </div>
</div>
<section class="unpredicatable-st">
  <div class="container">
    <h2>Supporting you get through the unpredicatable.</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.
      </p>
    <div class="row">
      <div class="col-sm-4 col-lg-4">
        <div class="loans">
          <div class="l-box">
            <img src="./../../../assets/images/finance_woes.jpg" />
          </div>
          <div class="unpredicatable-text">
            <span class="next-p"
              ><a href="#">
                <i class="fa fa-chevron-circle-right" style="font-size:39px;color:#34807f"></i>
                <!-- <img src="./../../../assets/images/arrow-next.png" /> -->
                </a
            ></span>
            <h2>Home Loans</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-lg-4">
        <div class="loans">
          <div class="l-box">
            <img src="./../../../assets/images/finance_woes.jpg" />
          </div>
          <div class="unpredicatable-text">
            <span class="next-p"
              ><a href="#">
                <i class="fa fa-chevron-circle-right" style="font-size:39px;color:#34807f"></i>
                <!-- <img src="./../../../assets/images/arrow-next.png" /> -->
                </a></span>
            <h2>Home Loans</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-lg-4">
        <div class="loans">
          <div class="l-box">
            <img src="./../../../assets/images/finance_woes.jpg" />
          </div>
          <div class="unpredicatable-text">
            <span class="next-p"
              ><a href="#">
                <i class="fa fa-chevron-circle-right" style="font-size:39px;color:#34807f"></i>
                <!-- <img src="./../../../assets/images/arrow-next.png" /> -->
                </a></span>
            <h2>Home Loans</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="application-st">
  <div class="container">
    <h2>Online Loan application in simple steps</h2>
      <p>Step-By-Step online process to aply for a Loan.</p>
    <div class="row">
      <div class="col-sm-6 col-lg-3 col-12">
        <div class="eligibility">
          <div class="vector-box">
            <img src="./../../../assets/images/vactor-1.jpg" />
          </div>
          <div class="title-optine">
            <h2>Check Eligibility</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 col-12">
        <div class="eligibility">
          <div class="vector-box">
            <img src="./../../../assets/images/vactor-2.jpg" />
          </div>
          <div class="title-optine">
            <h2>Check Offers</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 col-12">
        <div class="eligibility">
          <div class="vector-box">
            <img src="./../../../assets/images/vactor-3.jpg" />
          </div>
          <div class="title-optine">
            <h2>Apply for loan</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3 col-12">
        <div class="eligibility">
          <div class="vector-box">
            <img src="./../../../assets/images/vactor-4.jpg" />
          </div>
          <div class="title-optine">
            <h2>Upload documents</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="product-section">
  <div class="container">
    <h2>Our Products</h2>
    <div class="row">
      <div class="col-12">
        <ngx-slick-carousel
          class="carousel"
          #slickModal="slick-carousel"
          [config]="slideConfig"
          (init)="slickInit($event)"
          (breakpoint)="breakpoint($event)"
          (afterChange)="afterChange($event)"
          (beforeChange)="beforeChange($event)"
        >
          <div ngxSlickItem *ngFor="let slide of slides" class="slide">
            <!-- <img src="{{ slide.img }}" alt="" width="100%"> -->
            <div class="swiper-slide">
              <div class="pp-box"><img src="./../../../assets/images/pic1.jpg" /></div>
              <div class="product-text">
                <span class="next-pop"
                  ><a href="#">
                    <i class="fa fa-chevron-circle-right" style="font-size:39px;color:#34807f"></i>
                    <!-- <img src="./../../../assets/images/arrow-next.png" /> -->
                    </a></span>
                <h3>Home Loans</h3>
                <p>
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </p>
              </div>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</section>

<section class="calculators-section">
  <div class="container">
    <h2>Calculators and Tools</h2>
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
    <div class="row">
      <div class="calculator-d">
        <div class="sst-section">
          <ul>
            <li>
              <div class="i-con-52">
                <img src="./../../../assets/images/icon1a.jpg" />
              </div>
              <div class="lone-ko"><h2>Loan Repayment Calculator</h2></div>
              <a href="#" class="view"
                ><p>view</p>&nbsp;
                <i class="fa fa-chevron-circle-right" style="font-size:20px;color:#34807f"></i>
                <!-- <img src="./../../../assets/images/arrow-next.png" width="25px" height="25px"/> -->
            </a>
            </li>
            <li>
              <div class="i-con-52">
                <img src="./../../../assets/images/icon2a.jpg" />
              </div>
              <div class="lone-ko">
                <h2>Loan Borroing power Calculator</h2>
              </div>
              <a href="#" class="view"
                ><p>view</p>&nbsp;
                <i class="fa fa-chevron-circle-right" style="font-size:20px;color:#34807f"></i>
                <!-- <img src="./../../../assets/images/arrow-next.png" width="25px" height="25px"/> -->
            </a>
            </li>
            <li>
              <div class="i-con-52">
                <img src="./../../../assets/images/icon3a.jpg" />
              </div>
              <div class="lone-ko">
                <h2>Loan Borroing power Calculator</h2>
              </div>
              <a href="#" class="view"
                ><p>view</p>&nbsp;
                <i class="fa fa-chevron-circle-right" style="font-size:20px;color:#34807f"></i>
                <!-- <img src="./../../../assets/images/arrow-next.png" width="25px" height="25px"/> -->
              </a>
            </li>
            <li>
              <div class="i-con-52">
                <img src="./../../../assets/images/icon4a.jpg" />
              </div>
              <div class="lone-ko">
                <h2>Loan Borroing power Calculator</h2>
              </div>
              <a href="#" class="view"
                ><p>view</p>&nbsp;
                <i class="fa fa-chevron-circle-right" style="font-size:20px;color:#34807f"></i>
                <!-- <img src="./../../../assets/images/arrow-next.png" width="25px" height="25px"/> -->
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="testimonial">
  <div class="container">
    
    <div class="row">
      <div class="col-12">
        <div class="section-title">
          <h2>Client Testimonials</h2>
        </div>
      </div>
      <div class="col-12">
        <div
          id="testimonialCarousel"
          class="carousel slide"
          data-ride="carousel"
        >
          <!-- Slide Indicators -->

          <div class="carousel-inner" role="listbox">
            <!-- Slide 1 -->
            <div class="carousel-item active">
              <div class="carousel-content">
               <div class="row">
                <div class="col-12 col-lg-4 col-xl-4 col-md-4 col-sm-6">
                  <div class="client-img">
                    <img
                      src="./../../../assets/images/client1.jpg"
                      alt="Testimonial Slider"
                    />
                  </div>
                </div>
               <div class="col-12 col-lg-8 col-xl-8 col-md-8 col-sm-6">
                <div class="te-docoment">
                  <span>
                    <i class="fa fa-quote-left" style="font-size:33px;color:#34807f"></i>
                    <!-- <img src="./../../../assets/images/coma.jpg" /> -->
                  </span>
                  <p>
                    Lorem Ipsum is simply dummy text of the printing and
                    typesetting industry. Lorem Ipsum has been the industry's
                    standard dummy text. There are many variations of passages
                    of Lorem Ipsum available, but the majority have suffered
                    alteration in some form
                  </p>
                  <h3>Gourav Kumar</h3>
                </div>
               </div>
               </div>
              </div>
            </div>
            <!-- Slide 2 -->
            <div class="carousel-item">
              <div class="carousel-content">
                <div class="row">
                 <div class="col-12 col-lg-4 col-xl-4 col-md-4 col-sm-6">
                   <div class="client-img">
                     <img
                       src="./../../../assets/images/client1.jpg"
                       alt="Testimonial Slider"
                     />
                   </div>
                 </div>
                <div class="col-12 col-lg-8 col-xl-8 col-md-8 col-sm-6">
                 <div class="te-docoment">
                   <span>
                     <i class="fa fa-quote-left" style="font-size:33px;color:#34807f"></i>
                     <!-- <img src="./../../../assets/images/coma.jpg" /> -->
                   </span>
                   <p>
                     Lorem Ipsum is simply dummy text of the printing and
                     typesetting industry. Lorem Ipsum has been the industry's
                     standard dummy text. There are many variations of passages
                     of Lorem Ipsum available, but the majority have suffered
                     alteration in some form
                   </p>
                   <h3>Willson Kumar</h3>
                 </div>
                </div>
                </div>
               </div>
            </div>
            <!-- Slide 3 -->
            <div class="carousel-item">
              <div class="carousel-content">
                <div class="row">
                 <div class="col-12 col-lg-4 col-xl-4 col-md-4 col-sm-6">
                   <div class="client-img">
                     <img
                       src="./../../../assets/images/client1.jpg"
                       alt="Testimonial Slider"
                     />
                   </div>
                 </div>
                <div class="col-12 col-lg-8 col-xl-8 col-md-8 col-sm-6">
                 <div class="te-docoment">
                   <span>
                     <i class="fa fa-quote-left" style="font-size:33px;color:#34807f"></i>
                     <!-- <img src="./../../../assets/images/coma.jpg" /> -->
                   </span>
                   <p>
                     Lorem Ipsum is simply dummy text of the printing and
                     typesetting industry. Lorem Ipsum has been the industry's
                     standard dummy text. There are many variations of passages
                     of Lorem Ipsum available, but the majority have suffered
                     alteration in some form
                   </p>
                   <h3>Rajnish Kumar</h3>
                 </div>
                </div>
                </div>
               </div>
            </div>
            <ol class="carousel-indicators">
              <li
                data-target="#testimonialCarousel"
                data-slide-to="0"
                class="active"
              ></li>
              <li data-target="#testimonialCarousel" data-slide-to="1"></li>
              <li data-target="#testimonialCarousel" data-slide-to="2"></li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script src="./assets/js/jquery.min.js"></script>

<script src="./assets/js/bootstrap.min.js"></script>

<script src="./assets/js/swiper.min.js"></script>
<script>
  var swiper = new Swiper(".swiper-container", {
    pagination: ".swiper-pagination",
    paginationClickable: true,
    autoplay: 2500,
    autoplayDisableOnInteraction: false,
    slidesPerView: 3,
    spaceBetween: 50,
    breakpoints: {
      1024: {
        slidesPerView: 4,
        spaceBetween: 40,
      },
      768: {
        slidesPerView: 3,
        spaceBetween: 30,
      },
      640: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      320: {
        slidesPerView: 1,
        spaceBetween: 10,
      },
    },
  });
</script>
