ngb-carousel .wrapper {
    position: relative;
    height: 0;
    padding-top: 55%; /* Keep ratio for 900x500 images */
  }
  
  ngb-carousel .wrapper>img {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
  
.slide {
  margin: 10px;
}
 .slick-prev .slick-arrow{
  color: blue !important;
  background-color: blue !important;
}



  

/*==================responsive=====================*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .slide {
      flex-direction: column;
  }
 

}