<div class="container">
    <div class="row">
        <mat-card class="example-card">
            <mat-card-header>
              
              <h2>Thank you for your application. Your loan application ID is
                {{this.caseName===''?'':this.caseName}} {{confirmationmessage}}</h2>
              <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
            </mat-card-header>
            <img mat-card-image src="../../../assets/images/confirm.png" alt="Photo of a Shiba Inu">
            <!-- <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions> -->
          </mat-card>
          
    </div>
</div>
