body {
  font-family: "Poppins", sans-serif;
  font-weight: normal;
  color: var(--txtClr);
  background-color: #f8fbfd;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
figure,
label {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
textarea {
  resize: none;
}

/* UTILITIES */

.para {
  font-size: 16px;
  font-family: "Lato";
}
.txt__xs {
  font-size: 12px;
}
.txt__sm {
  font-size: 13px;
}
.txt__md {
  font-size: 15px;
}
.txt__lg {
  font-size: 18px;
}
.txt__primary {
  color: var(--primaryClr);
}
.bg__primary {
  background-color: var(--primaryClr);
}
.txt__black {
  color: #000;
}
.txt__light {
  color: #8d99b6;
}
.font-weight-medium {
  font-weight: 500;
}

/* END UTILITIES */

/* COMPONENTS */
.button {
  font-size: 13px;
  display: inline-block;
  font-weight: 600;
  padding: 12px 25px;
  border: 1px solid rgb(239, 239, 239);
  background-color: rgb(239, 239, 239);
  border-radius: 5px;
}
.button:focus {
  outline: none;
}
.button:hover {
  text-decoration: none;
}
.button-white {
  background-color: #34807f; /*#e2345c*/
  border-color: #34807f;
  color: #fff;
  font-size: 14px;
}
.button-white:hover {
  background-color: transparent;
  color: #34807f;
}
.button-white-outline {
  background-color: transparent;
  color: #34807f;
  text-decoration: underline;
  border: 0px;
  font-size: 14px;
}
.button-white-outline:hover {
  background-color: #fff;
  border-color: #fff;
  color: var(--primaryClr);
}
.button-green {
  background-color: var(--greenClr);
  border-color: var(--greenClr);
  color: #fff;
}
.button-green:hover {
  background-color: transparent;
  border-color: var(--greenClr);
  color: var(--greenClr);
}
.section-header {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 25px;
}
/* END COMPONENTS */

/* LAYOUT */
.main {
  max-width: 1920px;
  margin: 0 auto;
}
@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 1280px;
  }
}
/* END LAYOUT */

/* NAVBAR */
.mainNav.navbar {
  padding: 0.6rem 1rem;
  background-color: #f7f7f8;
  margin-top: 20px;
}
.mainNav.navbar .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.mainNav.not-fixed {
  background-color: #fff;
}
.mainNav.navbar.sticky {
  background-color: var(--primaryClr);
  padding: 0.4rem 1rem;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
}
.mainNav.navbar .nav-item {
  margin-right: 50px;
}
.mainNav.navbar .nav-item:last-child {
  margin-right: 0;
}
.mainNav.navbar .nav-item .nav-link {
  font-size: 18px;
  color: #384040;
  font-weight: 400;
  padding: 8px 15px;
}
.mainNav.navbar .nav-item .nav-link.active,
.mainNav.navbar .nav-item .nav-link:hover {
  color: #fff;
  background-color: #34807f;
  border-radius: 10px;
  padding: 8px 15px;
}
.mainNav.navbar .nav-item .nav-link.active {
  font-weight: 400;
}
.mainNav.navbar .navbar-toggler {
  padding: 0.15rem 0.5rem;
  border-color: rgba(255, 255, 255, 0.5);
}
.navbar-action-button {
  display: flex;
  align-items: center;
  padding-left: 80px;
}
.navbar-action-item {
  margin-right: 8px;
}
.navbar-action-item:last-child {
  margin-right: 0;
}
/* END NAVBAR */

/* BANNER */

/* END BANNER */

.header-section {
  width: 100%;
  height: auto;
  float: left;
  padding: 30px 0px 0px;
}
.logo {
  width: 167px;
  height: auto;
  float: left;
  padding: 0px 15px;
}
.logo img {
  width: 100%;
  height: auto;
}
.serach-box {
  width: 400px;
  height: auto;
  float: left;
  margin-right: 35px;
}

.fa-search {
  width: 24px;
  height: 24px;
  float: left;
}
.btn-secondary {
  background: transparent;
  border: 2px solid #ccc;
  border-left: 0px;
}
.serach-box .input-group input[type="text"] {
  height: auto;
  float: left;
  padding: 10px 5px;
  border: 2px solid #ccc;
  border-radius: 0px;
  border-right: 0px;
}
.st-h5 {
  float: right;
}
.accout-st {
  float: left;
  margin-left: 15px;
}

.accout-st p {
  font-size: 16px;
  color: #000;
  float: left;
  line-height: 40px;
  margin-right: 15px;
}

.navbar-nav {
  margin: 0px auto;
}
.banner-section {
  width: 100%;
  height: auto;
  float: left;
  position: relative;
}
.banner {
  width: 100%;
  height: auto;
  float: left;
}
.banner img {
  width: 100%;
  height: auto;
}
.instantly {
  width: 470px;
  height: auto;
  padding: 20px 25px;
  background: #fff;
  border-radius: 6px;
  position: absolute;
  top: 150px;
  left: 15%;
  z-index: 999;
}
.instantly h2 {
  font-size: 30px;
  color: #000;
  margin-bottom: 15px;
  font-weight: 600;
}
.instantly p {
  font-size: 14px;
  color: #888;
  margin-bottom: 15px;
  font-weight: 400;
}

.unpredicatable-st {
  width: 100%;
  height: auto;
  float: left;
  padding: 60px 0px 0px;
}
.unpredicatable-st h2 {
  font-size: 35px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 600;
}
.unpredicatable-st p {
  font-size: 16px;
  color: #222;
  margin-bottom: 15px;
}
.loans {
  width: 100%;
  height: auto;
  float: left;
}
.unpredicatable-text {
  width: 100%;
  height: auto;
  float: left;
  background: #fff;
  border-radius: 0px 0px 8px 8px;
  padding: 22px 20px 20px;
}
.unpredicatable-text h2 {
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
  font-weight: 600;
  float: left;
}
.unpredicatable-text p {
  font-size: 14px;
  color: #888;
  font-weight: 400;
  float: left;
}
.next-p {
  width: 33px;
  height: 33px;
  float: right;
}
.l-box {
  width: 100%;
  height: 200px;
  float: left;
  border-radius: 8px;
  overflow: hidden;
}
.l-box img {
  width: 100%;
  height: auto;
}

.application-st {
  width: 100%;
  height: auto;
  float: left;
  padding: 40px 0px;
}
.application-st h2 {
  width: 100%;
  height: auto;
  font-size: 35px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 600;
}
.application-st p {
  width: 100%;
  height: auto;
  font-size: 16px;
  color: #222;
  margin-bottom: 45px;
}

.eligibility {
  width: 100%;
  height: auto;
  float: left;
  background: #fff;
  border-radius: 8px;
  min-height: 420px;
  text-align: center;
  padding: 55px 25px;
  box-shadow: rgb(122 131 137 / 20%) 0px 8px 24px;
}
.vector-box {
  width: 160px;
  height: auto;
  margin: 0px auto;
}
.title-optine {
  width: 100%;
  height: auto;
  float: left;
  margin-top: 35px;
}
.title-optine h2 {
  width: 100%;
  height: auto;
  font-size: 20px;
  color: #000;
  margin-bottom: 20px;
  font-weight: 600;
}
.title-optine p {
  width: 100%;
  height: auto;
  font-size: 14px;
  color: #888;
  margin-bottom: 0px;
}

.swiper-container {
  width: 100%;
  height: auto;
  margin: 20px auto;
}
.swiper-slide {
  float: left;
  background: #fff;
  border-radius: 8px;
}

.product-section {
  width: 100%;
  height: auto;
  float: left;
  padding: 40px 0px;
  background: #ecf0f4;
}
.product-section h2 {
  font-size: 35px;
  color: #000;
  margin-bottom: 20px;
  font-weight: 600;
}

.pp-box {
  width: 100%;
  height: 230px;
  float: left;
  border-radius: 8px;
  overflow: hidden;
}
.pp-box img {
  width: 100%;
  height: auto;
}
.product-text {
  width: 100%;
  height: auto;
  float: left;
  background: #fff;
  border-radius: 0px 0px 8px 8px;
  padding: 22px 20px 20px;
}

.next-pop {
  width: 33px;
  height: 33px;
  float: right;
  margin-top: 25px;
}
.product-text h3 {
  font-size: 20px;
  color: #000;
  margin-bottom: 15px;
  font-weight: 600;
  float: left;
}
.product-text p {
  font-size: 14px;
  color: #888;
  font-weight: 400;
  float: left;
  width: 80%;
}

.calculators-section {
  width: 100%;
  height: auto;
  float: left;
  padding: 40px 0px;
}
.calculators-section h2 {
  font-size: 35px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 600;
  width: 100%;
}
.calculators-section p {
  font-size: 16px;
  color: #222;
  margin-bottom: 15px;
  width: 100%;
}

.calculator-d {
  width: 100%;
  height: auto;
  float: left;
  padding: 40px 0px;
  border: 1px solid #c9e6fc;
  box-shadow: rgb(189 213 229 / 50%) 0px 8px 24px;
  background: #fff;
  border-radius: 8px;
}
.sst-section {
  width: 100%;
  height: auto;
  float: left;
}
.sst-section ul {
  display: block;
}
.sst-section ul li {
  width: 15%;
  height: auto;
  float: left;
  text-align: center;
  margin: 0px 58px;
}
.lone-ko {
  width: 100%;
  height: auto;
  float: left;
}
.lone-ko h2 {
  font-size: 18px;
  color: #000;
  margin-bottom: 10px;
  font-weight: 600;
  width: 100%;
}
.i-con-52 {
  width: 135px;
  height: 120px;
  margin: 0px auto 25px;
}
.view {
  color: #e2345c;
  font-size: 16px;
}
.view p {
  display: inherit;
  font-size: 18px;
  color: #e2345c;
  text-transform: uppercase;
  font-weight: 600;
  margin-right: 10px;
}
a:hover.view {
  text-decoration: none;
}

/*-- testimonial Section CSS --*/
#testimonialCarousel {
  width: 100%;
  height: 350px;
  float: left;
  padding: 30px 0px 20px;
  color: #fff;
}
#testimonial h2 {
  font-size: 30px;
  color: #000;
  font-weight: 600;
  margin-bottom: 25px;
}
#testimonial .client-img {
  width: 350px;
  height: 250px;
  margin: 0px auto;
  float: left;
  margin-right: 35px;
}
#testimonial .carousel-content {
  padding: 0px 0px 0px 0px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
  overflow: hidden;
  float: left;
  border-radius: 8px;
  border: 1px solid #34807f; /*#bce0fb*/
}

.te-docoment {
  /*width: 68%;*/
  height: auto;
  padding: 50px 0px;
  float: left;
}
.carousel-indicators {
  margin-left: 0%;
  margin-right: 30%;
}
#testimonial .carousel-indicators li {
  background: #000;
  background-clip: padding-box;
}
#testimonial .carousel-indicators .active {
  opacity: inherit;
  float: left;
}
#testimonial h3 {
  font-size: 17px;
  color: #000;
  margin-bottom: 30px;
  font-weight: 600;
}
#testimonial p {
  font-size: 15px;
  color: #000;
  margin-bottom: 25px;
}
#testimonial .client-img img {
  width: 100%;
}
#testimonial .carousel-control-prev,
#testimonial .carousel-control-next {
  font-size: 36px;
}

@media (max-width: 576px) {
  #testimonial .carousel-content {
    padding: 0px 0px 0px 0px;
    width: 100%;
  }
  #testimonial .client-img {
    margin: 20px auto;
    position: static;
  }
  #testimonial h3,
  #testimonial p {
    text-align: center;
  }
}
/*-- End Testimonial Section CSS --*/

.footer-saction {
  width: 100%;
  height: auto;
  float: left;
  background: #34807f; /*#e2345c*/
  padding: 40px 0px;
}

.txt-52 {
  width: 100%;
  height: auto;
  float: left;
  font-size: 16px;
}
.txt-52 ul {
  display: block;
}
.txt-52 ul li {
  width: 100%;
  height: auto;
  float: left;
  color: #fff;
  margin-bottom: 15px;
}
.txt-52 ul li a {
  color: #fff;
}
.txt-52 ul li img {
  margin-right: 15px;
}

.socail-icon {
  width: 100%;
  height: auto;
  float: left;
}
.socail-icon h2 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 15px;
  font-weight: 400;
}
.socail-icon ul {
  display: block;
}
.socail-icon ul li {
  width: 30px;
  height: auto;
  float: left;
  margin: 0px 5px;
}

.footer-two {
  width: 100%;
  height: auto;
  padding: 15px 0px;
  background: #fff;
  float: left;
}


/* END MEDIA QUERIES */

@media only screen and (max-width: 1380px) {
  .mainNav.navbar .nav-item .nav-link {
    font-size: 16px;
  }

  .mainNav.navbar .nav-item {
    margin-right: 40px;
  }
  .instantly {
    top: 80px;
  }
  .eligibility {
    padding: 32px 12px;
    min-height: 375px;
  }
  .title-optine p {
    font-size: 13px;
  }
  .title-optine h2 {
    font-size: 18px;
  }
  .pp-box {
    height: auto;
  }

  .next-pop {
    margin-top: 0px;
  }

  .product-text p {
    font-size: 13px;
    width: 100%;
  }
  .sst-section ul li {
    margin: 0px 46px;
  }
  .lone-ko h2 {
    font-size: 14px;
  }

  #testimonialCarousel {
    padding-top: 0px;
    height: auto;
  }
  #testimonial .client-img {
    /*width: 26%;*/
    margin-right: 20px;
    height: auto;
  }
  .te-docoment {
    padding: 10px 0px;
  }
  #testimonial p {
    font-size: 13px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 1279px) {
  .mainNav.navbar .nav-item .nav-link {
    font-size: 17px;
  }

  .mainNav.navbar .nav-item {
    margin-right: 40px;
  }
  .instantly {
    top: 37px;
  }
  .eligibility {
    padding: 32px 12px;
    min-height: 375px;
  }
  .title-optine p {
    font-size: 12px;
  }
  .title-optine h2 {
    font-size: 18px;
  }
  .pp-box {
    height: auto;
  }

  .next-pop {
    margin-top: 0px;
  }

  .product-text p {
    font-size: 12px;
    width: 100%;
  }
  .sst-section ul li {
    margin: 0px 46px;
  }
  .lone-ko h2 {
    font-size: 14px;
  }

  #testimonialCarousel {
    padding-top: 0px;
    height: auto;
  }
  #testimonial .client-img {
    width: 100%;
    margin-right: 20px;
    height: auto;
  }
  .te-docoment {
    padding: 10px 0px;
  }
  #testimonial p {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .txt-52 ul li a {
    font-size: 13px;
  }
  .txt-52 ul li {
    font-size: 13px;
    margin-bottom: 5px;
  }

  .socail-icon ul li {
    width: 26px;
  }
  .footer-logo img {
    width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  .mainNav.navbar .nav-item .nav-link {
    font-size: 17px;
  }

  .mainNav.navbar .nav-item {
    margin-right: 40px;
  }
  .instantly {
    top: 37px;
  }
  .eligibility {
    padding: 32px 12px;
    min-height: 375px;
  }
  .title-optine p {
    font-size: 12px;
  }
  .title-optine h2 {
    font-size: 18px;
  }
  .pp-box {
    height: auto;
  }

  .next-pop {
    margin-top: 0px;
  }

  .product-text p {
    font-size: 12px;
    width: 100%;
  }
  .sst-section ul li {
    margin: 0px 46px;
  }
  .lone-ko h2 {
    font-size: 14px;
  }

  #testimonialCarousel {
    padding-top: 0px;
    height: auto;
  }
  #testimonial .client-img {
    width: 26%;
    margin-right: 20px;
    height: auto;
  }
  .te-docoment {
    padding: 10px 0px;
  }
  #testimonial p {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .txt-52 ul li a {
    font-size: 13px;
  }
  .txt-52 ul li {
    font-size: 13px;
    margin-bottom: 5px;
  }

  .socail-icon ul li {
    width: 26px;
  }
  .footer-logo img {
    width: 100%;
  }
}

@media only screen and (max-width: 980px) {
  .serach-box {
    margin-right: 0px;
  }
  .accout-st {
    margin-left: 15px;
    position: absolute;
    margin-top: 75px;
    right: 0;
    z-index: 99;
  }

  .instantly {
    top: 19px;
  }

  .unpredicatable-st h2 {
    font-size: 30px;
  }
  .unpredicatable-st p {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 25px;
  }
  .l-box {
    height: auto;
  }
  .unpredicatable-text {
    padding: 12px;
  }
  .unpredicatable-text h2 {
    font-size: 18px;
  }
  .unpredicatable-text p {
    margin-bottom: 0px;
    font-size: 12px;
  }
  .eligibility {
    margin-bottom: 30px;
  }
  .pp-box {
    height: auto;
  }
  .product-text {
    padding: 10px;
  }
  .product-text h3 {
    font-size: 14px;
  }
  .next-pop {
    margin-top: 0px;
  }
  .product-text p {
    font-size: 12px;
    width: 100%;
  }
  .sst-section ul li {
    margin: 0px 34px;
  }
  .lone-ko h2 {
    font-size: 15px;
  }
  .i-con-52 {
    height: auto;
  }
  #testimonialCarousel {
    padding-top: 0px;
    height: auto;
  }
  #testimonial .client-img {
    width: 100%;
    margin-right: 20px;
    height: auto;
  }
  .te-docoment {
    padding: 10px 0px;
  }
  #testimonial p {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .txt-52 ul li a {
    font-size: 13px;
  }
  .txt-52 ul li {
    font-size: 13px;
    margin-bottom: 5px;
  }

  .socail-icon ul li {
    width: 26px;
  }
  .footer-logo img {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .instantly {
    position: relative;
    margin-left: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 20px;
  }
  .instantly h2 {
    font-size: 19px;
    margin-bottom: 10px;
  }
  .instantly p {
    font-size: 14px;
  }
  .logo {
    margin: 0px auto;
    float: none;
  }
  .header-section {
    padding: 10px 0px;
  }
  .st-h5 {
    width: 100%;
    float: left;
  }
  .serach-box {
    width: 100%;
    margin-right: 0px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .serach-box .input-group input[type="text"] {
    padding: 7px 5px;
  }
  .accout-st {
    margin-left: 15px;
    position: absolute;
    margin-top: 75px;
    right: 0;
    z-index: 99;
  }
  .mainNav.navbar {
    margin-top: 5px;
  }
  .button-white {
    background-color: #e2345c;
    border-color: #e2345c;
    color: #fff;
    font-size: 14px;
    padding: 5px 10px;
  }
  .button-white-outline {
    font-size: 14px;
    padding: 5px 10px;
  }
  .unpredicatable-st {
    padding: 30px 0px;
  }
  .unpredicatable-st h2 {
    font-size: 16px;
  }
  .unpredicatable-st p {
    font-size: 12px;
  }
  .application-st {
    padding: 30px 15px;
  }
  .application-st h2 {
    font-size: 20px;
  }
  .application-stp {
    font-size: 14px;
  }
  .title-optine h2 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .title-optine p {
    font-size: 13px;
    line-height: 18px;
  }
  .eligibility {
    padding: 31px 13px;
    margin-bottom: 25px;
    min-height: 350px;
  }
  .product-section {
    padding: 30px 15px;
  }
  .calculators-section {
    padding: 30px 15px;
  }
  .sst-section ul li {
    width: 50%;
    margin: 0px 0px 25px;
    padding: 0px 15px;
  }
  .lone-ko h2 {
    font-size: 17px;
  }
  #testimonial h2 {
    font-size: 20px;
    margin-bottom: px;
  }
  #testimonial .client-img {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  #testimonialCarousel {
    height: auto;
  }
  .te-docoment {
    width: 100%;
    padding: 15px;
  }
  .carousel-indicators {
    width: 100%;
    margin: 10px 0px 10px;
  }
  #testimonial p {
    margin-bottom: 10px;
    font-size: 12px;
  }
  .txt-52 {
    padding: 0px 0px;
  }
  .socail-icon {
    text-align: center;
  }
  .socail-icon ul {
    display: table;
    margin: 0px auto;
  }
  .footer-logo {
    text-align: center;
    margin-bottom: 25px;
  }
  .footer-two {
    padding: 10px 15px;
    font-size: 12px;
    line-height: 15px;
  }
  .l-box {
    height: auto;
  }
  .unpredicatable-text {
    padding: 10px;
  }

  .next-p {
    width: 17px;
    height: 17px;
  }
  .next-p img {
    width: 100%;
    height: auto;
  }
  .te-docoment span {
    margin-bottom: 5px;
    display: inline-block;
  }
  .footer-logo img {
    width: 100%;
  }
  .txt-52 ul li {
    font-size: 14px;
    margin-bottom: 5px;
  }
  .socail-icon h2 {
    font-size: 13px;
  }
  .socail-icon ul li {
    width: 16px;
    padding: 14px;
  }
  .socail-icon ul li img {
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  .instantly {
    position: relative;
    margin-left: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 10px;
  }
  .instantly h2 {
    font-size: 19px;
    margin-bottom: 10px;
  }
  .instantly p {
    font-size: 14px;
  }
  .logo {
    margin: 0px auto;
    float: none;
  }
  .header-section {
    padding: 10px 0px;
  }
  .st-h5 {
    width: 100%;
    float: left;
  }
  .serach-box {
    width: 100%;
    margin-right: 0px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .serach-box .input-group input[type="text"] {
    padding: 7px 5px;
  }
  .accout-st {
    margin-left: 15px;
    position: absolute;
    margin-top: 75px;
    right: 0;
    z-index: 99;
  }
  .mainNav.navbar {
    margin-top: 5px;
  }
  .button-white {
    background-color: #e2345c;
    border-color: #e2345c;
    color: #fff;
    font-size: 10px;
    padding: 5px 10px;
  }
  .button-white-outline {
    font-size: 10px;
    padding: 5px 10px;
  }
  .unpredicatable-st {
    padding: 30px 15px;
  }
  .unpredicatable-st h2 {
    font-size: 20px;
  }
  .unpredicatable-st p {
    font-size: 14px;
  }
  .application-st {
    padding: 30px 15px;
  }
  .application-st h2 {
    font-size: 20px;
  }
  .application-stp {
    font-size: 14px;
  }

  .eligibility {
    padding: 31px 13px;
    margin-bottom: 25px;
  }
  .product-section {
    padding: 30px 15px;
  }
  .calculators-section {
    padding: 30px 15px;
  }
  .sst-section ul li {
    width: 100%;
    margin: 0px 0px 25px;
    padding: 0px 15px;
  }
  .lone-ko h2 {
    font-size: 16px;
  }
  #testimonial h2 {
    font-size: 20px;
    margin-bottom: px;
  }
  #testimonial .client-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  #testimonialCarousel {
    height: auto;
  }
  .te-docoment {
    width: 100%;
    padding: 0px 15px;
  }
  .carousel-indicators {
    width: 100%;
    margin: 10px 0px 10px;
  }
  #testimonial p {
    margin-bottom: 10px;
  }
  .txt-52 {
    padding: 15px 0px;
    text-align: center;
  
  }
  .socail-icon {
    text-align: center;
  }
  .socail-icon ul {
    display: table;
    margin: 0px auto;
  }
  .footer-logo {
    text-align: center;
    margin-bottom: 25px;
  }
  .footer-two {
    padding: 10px 15px;
    font-size: 12px;
    line-height: 15px;
  }
}

@media only screen and (max-width: 320px) {
  .instantly {
    position: relative;
    margin-left: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    padding: 20px 10px;
  }
  .instantly h2 {
    font-size: 19px;
    margin-bottom: 10px;
  }
  .instantly p {
    font-size: 14px;
  }
  .logo {
    margin: 0px auto;
    float: none;
  }
  .header-section {
    padding: 10px 0px;
  }
  .st-h5 {
    width: 100%;
    float: left;
  }
  .serach-box {
    width: 100%;
    margin-right: 0px;
    float: left;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .serach-box .input-group input[type="text"] {
    padding: 7px 5px;
  }
  .accout-st {
    margin-left: 15px;
    position: absolute;
    margin-top: 75px;
    right: 0;
    z-index: 99;
  }
  .mainNav.navbar {
    margin-top: 5px;
  }
  .button-white {
    background-color: #e2345c;
    border-color: #e2345c;
    color: #fff;
    font-size: 10px;
    padding: 5px 10px;
  }
  .button-white-outline {
    font-size: 10px;
    padding: 5px 10px;
  }
  .unpredicatable-st {
    padding: 30px 15px;
  }
  .unpredicatable-st h2 {
    font-size: 20px;
  }
  .unpredicatable-st p {
    font-size: 14px;
  }
  .application-st {
    padding: 30px 15px;
  }
  .application-st h2 {
    font-size: 20px;
  }
  .application-stp {
    font-size: 14px;
  }

  .eligibility {
    padding: 31px 13px;
    margin-bottom: 25px;
  }
  .product-section {
    padding: 30px 15px;
  }
  .calculators-section {
    padding: 30px 15px;
  }
  .sst-section ul li {
    width: 100%;
    margin: 0px 0px 25px;
    padding: 0px 15px;
  }
  .lone-ko h2 {
    font-size: 16px;
  }
  #testimonial h2 {
    font-size: 20px;
    margin-bottom: px;
  }
  #testimonial .client-img {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }
  #testimonialCarousel {
    height: auto;
  }
  .te-docoment {
    width: 100%;
    padding: 0px 15px;
  }
  .carousel-indicators {
    width: 100%;
    margin: 10px 0px 10px;
  }
  #testimonial p {
    margin-bottom: 10px;
  }
  .txt-52 {
    padding: 15px 0px;
    text-align: center;
  }
  .socail-icon {
    text-align: center;
  }
  .socail-icon ul {
    display: table;
    margin: 0px auto;
  }
  .footer-logo {
    text-align: center;
    margin-bottom: 25px;
  }
  .footer-two {
    padding: 10px 15px;
    font-size: 12px;
    line-height: 15px;
  }
}
