.home_btn {
    border: none;
   background: azure;
}
.loginBtn {
    background-color: #34807f;
    color: #fff;
    font-size: 17px;
    height: 40px;
    margin: 3px;
    width: 75px;
    padding: 3px;
    border: #34807f;
    border-radius:4px;
    font-family: sans-serif;
    
}

/*==================responsive=====================*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .mainNav.navbar .navbar-toggler {
   
        background-color: #34807f;
        color: #fff;
        
    }
    
  
  }



