<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <mat-card >
      <mat-card-header>
        <mat-card-title><img src="./../../../assets/images/oie_jpg.png" width="100px" /></mat-card-title>
      </mat-card-header>
  
      <form class="example-form" [formGroup]="signinFormGroup">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <mat-label>Enter Username</mat-label>
            <input matInput placeholder="Username"
            formControlName="username"
            [ngClass]="{'is-invalid': loginSubmitted && loginFn.username.errors}"
            >
            <div *ngIf="loginSubmitted && loginFn.username.errors" class="invalid-feedback" >
                  <div *ngIf="loginFn.username.errors.required">
                    username is required.
                  </div>
                </div>
          </mat-form-field>


          <mat-form-field class="example-full-width">
            <mat-label>Enter your password</mat-label>
            <input matInput [type]="hide ? 'password' : 'text'"
            formControlName="password"
            placeholder="Password"
            [ngClass]="{'is-invalid': loginSubmitted && loginFn.password.errors}"
            >
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <div *ngIf="loginSubmitted && loginFn.password.errors" class="invalid-feedback" >
              <div *ngIf="loginFn.password.errors.required">
                username is required.
              </div>
            </div>
          </mat-form-field>
  
  
        </mat-card-content>
        <button type="submit" mat-raised-button color="accent" class="btn-block" [disabled]="!signinFormGroup.valid"
        (click)="loginSubmitData()">
          Log in
        </button>
       
      </form>
    </mat-card>
  
  </div>