/** custom CSS as per your :required */
.mat-stepper-horizontal {
  margin-top: -10px !important; 
}
.mat-form-field {
  margin-top: 16px;
}
::ng-deep .mat-form-field {
  display: block !important;
}

::ng-deep .mat-datepicker-content {
  height: fit-content !important;
}

::ng-deep .mat-horizontal-stepper-header {
  display: flex;
  height: 72px;
  overflow: hidden;
  align-items: center;
  padding: 0 !important;
}
::ng-deep .mat-stepper-horizontal-line {
  border-top-style: none !important;
}

::ng-deep .mat-form-field-infix {
  width: 440px !important;
}
::ng-deep .mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.anothersection .row {
  background: whitesmoke;
  padding: 20px;
  margin-left: 0px;
}
.snslogin {
  background-color: #dff9df;
  padding: 15px;
  margin: 10px;
}
.nxt_prvt {
  float: right;
}
 .bck {
 float: left;
}

#exampleCheck1 {
  width: 198px;
}
#btnext {
  margin: 5px 0px;
  border-radius: 23px;
  height: 36px;
}
.mat-mini-fab {
    height: 30px;
    width: 30px;
   /* background-color: rgb(46, 199, 25) !important; */
}
.example-button-container{
    display: flex;
}

.cont>p{
  color: black;
    font-family: unset;
    font-size: 14px;
}
 .thead-blue{
  background-color: #34807f ; /*#b346b3*/
  color: #fff;
 }
 ::ng-deep .mat-step-label {
  white-space: pre-wrap !important;
}





 

/*==================responsive=====================*/
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  ::ng-deep .mat-form-field-infix {
    width: 440px !important;
  }
  ::ng-deep .mat-stepper {
  orientation: vertical !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  ::ng-deep .mat-form-field-infix {
    width: 440px !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ::ng-deep .mat-form-field-infix {
    width: 272px !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ::ng-deep .mat-form-field-infix {
    width: 440px !important;
  }
}

@media only screen and (min-width: 1024px) {
  ::ng-deep .mat-form-field-infix {
    width: 390px !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ::ng-deep .mat-form-field-infix {
    width: 440px !important;
  }
}
